body{
    background-color: white;
    padding: 0;
    margin: 30px 30px;
    color: #000;
    font-family: 'Poppins', 'Actor', 'Adamina';
    margin-bottom: 3cm;
}
nav{
    display: flex;
    justify-content:space-between;
}
nav > .thelinks > ul > li{
    display: inline-block;
    padding: 10px;
    color: white;
  }
#headerSectionAndNav{
    opacity: 0.8;
    background-image: url("../img/moving 1.png");
    background-size: cover; 
    background-position: center center;
    height:80vh;
    display: flex;
    /* align-items: center;
    justify-content: center; */  
}
#headerSectionAndNav > .headerContent{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: center;
}

/*  */
#cth{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  #cth > .cth1{
    display: flex;
  }
  
  #cth > .cth1 > .leftside, .rightside{
    width: 50%;
  }
  
  #cth > .cth1 > .leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2cm;
  }
  
  #cth > .cth1 > .rightside{
    padding-right: 30px;
  }
  
  #cth > .cth1 > .rightside > button{
    background-color: cornflowerblue;
    padding: 5px;
    color: white;
  }
  .our_top_movers{
    background-color: #D3D3D3;
    padding: 4cm;
  }

  /* images of top movers */
  .pics > .row {
    display: flex;
  }
  
  .pics > .row > .column {
    flex: 33.33%;
    padding: 5px;
  }
  .our_top_movers > .pics{
    margin-top: 3cm;
  }
  #footer{
    color: white;
    background-color: #654321;
    padding: 4cm;
  }
  #footer > .row {
    display: flex;
  }
  
  #footer > .row > .column {
    flex: 25%;
    padding: 5px;
  }
  #footer > .row > .column > ul > li{
    list-style: none;
  }